@model List < BlogEdenilsom.DB.Classes.Usuario>
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="@Url.Content("~/scripts/Views/Usuarios/Usuarios.js")"></script>
}

<h1>Usuários</h1>

<div>
    <h3>@Html.ActionLink("Cadastrar", "CadastrarUsuario", "Usuario") </h3>
</div>


@foreach (var item in Model)
{
    
       
        <h3>@item.Login</h3>
    
    <div>
        <div class="icone-editar div-imagem"></div>
        @Html.ActionLink("Editar", "EditarUsuario", "Usuario", new { id = item.Id }, null)
        <div class="icone-excluir div-imagem"></div>
        @Html.ActionLink("Excluir", "ExcluirUsuario", "Usuario", new { id = item.Id }, new { @class = "excluir-usuario" })
    </div>
   
}



